body {
  background-image: url('./components/images/sign-road-sunlight-hd-2K-wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.img {
  width: 50%;
  height: 150px;
}

.card-body {
  height: 270px;
}

div div ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

div div ul li {
  display: grid;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-image: url('./components/images/2111648.jpg');
}
